.container{
    border: 2px solid black;
}

.row{
    border: 2px solid red;
}

.pink{
    background-color: pink;
}

.green{
    background-color: green;
}

.magenta{
    background-color: magenta;
}

.yellow{
    background-color: yellow;
}